#### 1. Organizar o código da aula 04 em funções.

In [78]:
import pandas as pd
from geopy.geocoders import Nominatim

def show_types(data):
    print(data.dtypes)
    return None


def show_dimensions(data):
    print(f'\nNumber of rows: {data.shape[0]} \nNumber of columns: {data.shape[1]}', end='\n\n')
    return None


def data_collect(path):
    data = pd.read_csv(path)
    
    show_dimensions(data)
    
    show_types(data)
    
    return data


def collect_geodata(data, cols):
    geolocator = Nominatim(user_agent='geoapiExercises')
    
    data = data.head(20)
    
    data.loc[:, cols] = 'NA'
    
    for i in range(len(data)):
        if (i+1) % 10 == 0:
            print(f'Loop: {i+1}/{len(data)}')
        
        query = str(data.loc[i, 'lat']) + ',' + str(data.loc[i, 'long'])
        response = geolocator.reverse(query)   
        
        for c in range(len(cols)):
            if cols[c] in response.raw['address']:    
                data.loc[i, cols[c]] = response.raw['address'][cols[c]]        
            
    return data
        

def data_transform(data):
    data['level'] = data['price'].apply(lambda x: 0 if x < 321950 else
                                          1 if (x >= 321950) & (x < 450000) else
                                          2 if (x >= 450000) & (x < 645000) else 3)
    
    show_dimensions(data)
    show_types(data)
    
    cols = ['road', 'house_number', 'neighbourhood', 'city', 'county', 'state']
    df =  data.head(20)    
    df1 = collect_geodata(df, cols)
    show_dimensions(df1)
    print(df1.head())
    
    return data
    

if __name__ == '__main__':
    data_raw = data_collect('datasets/kc_house_data.csv')

    data_processing = data_transform(data_raw)

    print(data_processing)

Number of rows: 21613
Number of columns: 21

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Number of rows: 21613
Number of columns: 22

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
level              int64
dtype: object

C:\Users\henri\AppData\Local\Temp\ipykernel_2820\2976063689.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, cols] = 'NA'

Loop: 10/20
Loop: 20/20

Number of rows: 20
Number of columns: 28

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...     long  sqft_living15  \
0      5650     1.0           0     0  ... -122.257           1340
1      7242     2.0           0     0  ... -122.319           1690
2     10000     1.0           0     0  ... -122.233           2720
3      5000     1.0           0     0  ... -122.393           1360
4      8080     1.0           0     0  ... -122.045           1800

   sqft_lot15  level                      road  house_number  neighbourhood  \
0        5650      0         61st Avenue South         10012  Rainier Beach
1        7639      2    Northeast 127th Street           837             NA
2        8062      0     81st Avenue Northeast         15109             NA
3        5000      2  Fauntleroy Way Southwest          9236     Fauntleroy
4        7503      2    221st Avenue Northeast           923             NA

        city       county       state
0    Seattle  King County  Washington
1    Seattle  King County  Washington
2    Kenmore  King County  Washington
3    Seattle  King County  Washington
4  Sammamish  King County  Washington

[5 rows x 28 columns]
               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  sqft_above  \
0             1180      5650     1.0           0     0  ...        1180
1             2570      7242     2.0           0     0  ...        2170
2              770     10000     1.0           0     0  ...         770
3             1960      5000     1.0           0     0  ...        1050
4             1680      8080     1.0           0     0  ...        1680
...            ...       ...     ...         ...   ...  ...         ...
21608         1530      1131     3.0           0     0  ...        1530
21609         2310      5813     2.0           0     0  ...        2310
21610         1020      1350     2.0           0     0  ...        1020
21611         1600      2388     2.0           0     0  ...        1600
21612         1020      1076     2.0           0     0  ...        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15  level
0               1340        5650      0
1               1690        7639      2
2               2720        8062      0
3               1360        5000      2
4               1800        7503      2
...              ...         ...    ...
21608           1530        1509      1
21609           1830        7200      1
21610           1020        2007      1
21611           1410        1287      1
21612           1020        1357      1

[21613 rows x 22 columns]

Number of rows: 21613
Number of columns: 21